<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
      <form action="/pig_latin" method="post">
        <p>Enter text to be Pig Latinized:<input type="text" name="pig_latin"></p>
      </form>
  </body>
</html>
